<a href="https://colab.research.google.com/github/cunimachine/Acamica-Proyecto2_Properati/blob/main/Demographic%20Data%20Analyser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount ("/content/drive")

Mounted at /content/drive

# Nueva secci√≥n

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/adult_data.csv")

In [4]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

- How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [7]:
df.value_counts(["race"])

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

- What is the average age of men?

In [8]:
average_age_men=df.loc[df['sex'] == "Male",["age"]].mean().round(1)
average_age_men=np.array(average_age_men)
average_age_men

array([39.4])

- What is the percentage of people who have a Bachelor's degree?

In [9]:
percentage_bachelors_a=df.loc[df['education'] == "Bachelors",["education"]].value_counts()
percentage_bachelors_b=df.education.value_counts().sum()
percentage_bachelors=(percentage_bachelors_a*100/percentage_bachelors_b).round(1)
percentage_bachelors=np.array(percentage_bachelors)
percentage_bachelors

array([16.4])

- What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

- What percentage of people without advanced education make more than 50K?

In [10]:
df["salary"].unique()

array(['<=50K', '>50K'], dtype=object)

In [11]:
df["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [12]:
total_higher_education=df.loc[(df['education'] == "Bachelors")|
                              (df['education'] == "Masters")|
                              (df['education'] == "Doctorate"), ["education","salary"]].value_counts().sum()

total_higher_education

7491

In [13]:
total_higher_education_mayor50k=df.loc[((df['education'] == "Bachelors")|
                                        (df['education'] == "Masters")|
                                       (df['education'] == "Doctorate"))&
                                       (df["salary"]==">50K"), ["education","salary"]].value_counts().sum()

total_higher_education_mayor50k

3486

In [14]:
total_lower_education=df.loc[(df['education'] == "HS-grad")|
                                       (df['education'] == "11th")|
                                       (df['education'] == "9th")|
                                       (df['education'] == "Some-college")|
                                       (df['education'] == "Assoc-acdm")|
                                       (df['education'] == "Assoc-voc")|
                                       (df['education'] == "7th-8th")|
                                        (df['education'] == "Prof-school")|
                                        (df['education'] == "5th-6th")|
                                        (df['education'] == "10th")|
                                       (df['education'] == "1st-4th")|
                                       (df['education'] == "Preschool")|
                                       (df['education'] == "12th"),["education","salary"]].value_counts().sum()

total_lower_education

25070

In [15]:
total_lower_education_mayor50k=df.loc[((df['education'] == "HS-grad")|
                                       (df['education'] == "11th")|
                                       (df['education'] == "9th")|
                                       (df['education'] == "Some-college")|
                                       (df['education'] == "Assoc-acdm")|
                                       (df['education'] == "Assoc-voc")|
                                       (df['education'] == "7th-8th")|
                                        (df['education'] == "Prof-school")|
                                        (df['education'] == "5th-6th")|
                                        (df['education'] == "10th")|
                                       (df['education'] == "1st-4th")|
                                       (df['education'] == "Preschool")|
                                       (df['education'] == "12th"))&(df["salary"]==">50K"),["education","salary"]].value_counts().sum()

total_lower_education_mayor50k

4355

In [16]:
porcentage_higher_education_mayor50K=(total_higher_education_mayor50k*100/total_higher_education).round(1)
porcentage_higher_education_mayor50K

46.5

In [17]:
porcentage_lower_education_mayor50K=(total_lower_education_mayor50k*100/total_lower_education).round(1)
porcentage_lower_education_mayor50K

17.4

- What is the minimum number of hours a person works per week (hours-per-week feature)?

In [18]:
min_work_hours=df["hours-per-week"].min()
min_work_hours

1

- What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [19]:
num_min_workers=df.loc[(df["hours-per-week"]==1) & (df["salary"]==">50K"),["education","salary"]].value_counts().sum()
num_min_workers

2

In [20]:
total_num_min_workers=df.loc[(df["hours-per-week"]==1),["education","salary"]].value_counts().sum()
total_num_min_workers

20

In [21]:
porcentage_num_min_workers=(num_min_workers*100/total_num_min_workers).round(1)
porcentage_num_min_workers

10.0

- Identify the most popular occupation for those who earn >50K in India.

In [22]:
top_IN_occupation_india=df.loc[((df["salary"]==">50K")&(df["native-country"]=="India")),"occupation"].value_counts().index[0]
top_IN_occupation_india

'Prof-specialty'

 - What country has the highest percentage of people that earn >50K?

In [23]:
new_df = df.loc[(df["salary"] == ">50K")]["native-country"].value_counts()
new_df

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Yugoslavia               6
Hong                     6
Vietnam                  5
Ireland                  5
Ecuador                  4
Haiti                    4
Portugal                 4
Thailand                 3
Scotland                 3
Guatemala                3
Hungary                  3
Columbia                 2
Peru                     2
Dominican-Republic       2
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Honduras                 1
Name: native-country, dtype: int64

In [24]:
new_df2 = df["native-country"].value_counts()
new_df2

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [25]:
    new_df = df.loc[(df["salary"] == ">50K")]["native-country"].value_counts()
    new_df2 = df["native-country"].value_counts()

    richest = (new_df / new_df2).max()

    highest_earning_country = (new_df/new_df2).sort_values(ascending = False).index[0]

    print(highest_earning_country)

Iran

In [26]:
highest_earning_country = (new_df/new_df2).sort_values(ascending = False).index[0]
highest_earning_country_percentage = round(100 * richest, 1 )
highest_earning_country_percentage

41.9